.summary { margin-left: 10px; margin-right: 10px; }
h2 { color: #555555; padding-bottom: 15px; }
a { text-decoration: none; color: #3498db; font-weight: bold; }
a.edit { color: #9f9f9f; float: right; font-weight: normal; }
p { color: #666666; }
b { color: #333333; }
dl dd { margin-bottom: 5px; }
